@charset "utf-8";

/* Fira Sans */

@font-face {
    font-family: 'Fira Sans';
    src: url("FiraSans-Regular.eot");
    src: url("FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("FiraSans-Regular.woff") format("woff"), url("FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url("FiraSans-Medium.eot");
    src: url("FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("FiraSans-Medium.woff") format("woff"), url("FiraSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url("FiraSans-Bold.eot");
    src: url("FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("FiraSans-Bold.woff") format("woff"), url("FiraSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url("FiraSans-ExtraBold.eot");
    src: url("FiraSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("FiraSans-ExtraBold.woff") format("woff"), url("FiraSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url("FiraSans-Heavy.eot");
    src: url("FiraSans-Heavy.eot?#iefix") format("embedded-opentype"), url("FiraSans-Heavy.woff") format("woff"), url("FiraSans-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

/* Fira Sans Condensed */

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url("FiraSansCondensed-Bold.eot");
    src: url("FiraSansCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("FiraSansCondensed-Bold.woff") format("woff"), url("FiraSansCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Fira Mono */

@font-face {
    font-family: 'Fira Mono';
    src: url("FiraMono-Regular.eot");
    src: url("FiraMono-Regular.eot?#iefix") format("embedded-opentype"), url("FiraMono-Regular.woff") format("woff"), url("FiraMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url("FiraMono-Medium.eot");
    src: url("FiraMono-Medium.eot?#iefix") format("embedded-opentype"), url("FiraMono-Medium.woff") format("woff"), url("FiraMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* RFRufo Black */

@font-face {
    font-family: 'RFRufo Black';
    src: url("RFRufo-Black.eot");
    src: url("RFRufo-Black.eot?#iefix") format("embedded-opentype"), url("RFRufo-Black.woff") format("woff"), url("RFRufo-Black.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* RFRufo Bold Italic */

@font-face {
    font-family: 'RFRufo';
    src: url("RFRufo-BoldItalic.eot");
    src: url("RFRufo-BoldItalic.eot?#iefix") format("embedded-opentype"), url("RFRufo-BoldItalic.woff") format("woff"), url("RFRufo-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* BettonSans Cond */

@font-face {
    font-family: 'bentonsanscondbold';
    src: url("bettonsans-cond-webfont.eot");
    src: url('bettonsans-cond-webfont.woff2') format('woff2'),
    url('bettonsans-cond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* BettonSans Cond */

@font-face {
    font-family: 'core_escher_aregular';
    src: url("core-escher-a-webfont.eot");
    src: url('core-escher-a-webfont.woff2') format('woff2'),
    url('core-escher-a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FrontageCondensed';
    src: url('FrontageCondensed-Bold.eot');
    src: url('FrontageCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('FrontageCondensed-Bold.woff2') format('woff2'),
        url('FrontageCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fcp-numbers';
    src: url('fcp-numbers.eot');
    src: url('fcp-numbers.eot?#iefix') format('embedded-opentype'),
        url('fcp-numbers.woff2') format('woff2'),
        url('fcp-numbers.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Agency FB';
    src: url('AgencyFB-Bold.eot');
    src: url('AgencyFB-Bold.eot?#iefix') format('embedded-opentype'),
        url('AgencyFB-Bold.woff2') format('woff2'),
        url('AgencyFB-Bold.woff') format('woff'),
        url('AgencyFB-Bold.svg#AgencyFB-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fcp-numbers-21-22';
    src: url('fcp-numbers-21-22.eot');
    src: url('fcp-numbers-21-22.eot?#iefix') format('embedded-opentype'),
        url('fcp-numbers-21-22.woff2') format('woff2'),
        url('fcp-numbers-21-22.woff') format('woff'),
        url('fcp-numbers-21-22.ttf') format('truetype'),
        url('fcp-numbers-21-22.svg#fcp-numbers-21-22') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatster';
    src: url('Beatster-Regular.woff2') format('woff2'),
        url('Beatster-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fcp-numbers-22-23';
    src: url('fcp-numbers-22-23.eot');
    src: url('fcp-numbers-22-23.eot?#iefix') format('embedded-opentype'),
        url('fcp-numbers-22-23.woff2') format('woff2'),
        url('fcp-numbers-22-23.woff') format('woff'),
        url('fcp-numbers-22-23.ttf') format('truetype'),
        url('fcp-numbers-22-23.svg#fcp-numbers-22-23') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
